{% extends "base.html" %}

{% block main %}

<div class="profile-card">

    <div class="profile-header">
        <img src="{{ url_for('static', filename='image/profile.png') }}" 
             alt="Profile Photo" 
             class="profile-img">

        <h2>Kyle Peart</h2>
        <p>@kpeart</p>
        <p>Kingston, Jamaica</p>
        <p>Joined {{ date_joined }}</p>
    </div>

    <div class="profile-body">
        <p>
            Computer Science student passionate about web development,
            cybersecurity and building innovative applications.
        </p>

        <div class="stats">
            <div>
                <strong>7</strong>
                <p>Posts</p>
            </div>

            <div>
                <strong>100</strong>
                <p>Following</p>
            </div>

            <div>
                <strong>250</strong>
                <p>Followers</p>
            </div>
        </div>

        <button class="follow-btn">Follow</button>

    </div>

</div>

{% endblock %}